In [1]:
from apiclient.discovery import build
import pandas as pd

In [2]:
api_key = "AIzaSyDxJbSEPodYNzB6Fuk4hsZHnwH08J8uc1I"
youtube = build('youtube','v3',developerKey = api_key)

In [3]:
def get_channel_videos(channel_id):
    
    # get Uploads playlist id
    res = youtube.channels().list(id=channel_id, 
                                  part='contentDetails').execute()
    playlist_id = res['items'][0]['contentDetails']['relatedPlaylists']['uploads']
    
    videos = []
    next_page_token = None
    
    while 1:
        res = youtube.playlistItems().list(playlistId=playlist_id, 
                                           part='snippet', 
                                           maxResults=50,
                                           pageToken=next_page_token).execute()
        videos += res['items']
        next_page_token = res.get('nextPageToken')
        
        if next_page_token is None:
            break
    
    return videos

In [4]:
videos = get_channel_videos('UCWOA1ZGywLbqmigxE4Qlvuw')

In [5]:
len(videos)

3919

In [6]:
def get_videos_stats(video_ids):
    stats = []
    for i in range(0, len(video_ids), 50):
        res = youtube.videos().list(id=','.join(video_ids[i:i+50]),
                                   part='statistics').execute()
        stats += res['items']
        
    return stats

In [7]:
video_ids = list(map(lambda x:x['snippet']['resourceId']['videoId'], videos))

In [8]:
stats = get_videos_stats(video_ids)

In [9]:
len(stats)

3919

In [10]:
# most_disliked = sorted(stats, key=lambda x:int(x['statistics']['dislikeCount']), reverse=True)

In [11]:
# for video in most_disliked:
#     print("Video ID:",video['id'],"|","Likes:",video['statistics']['likeCount'],"|","Dislikes:",video['statistics']['dislikeCount'])

In [21]:
video_title = list(map(lambda x:x['snippet']['title'], videos)) # Title lai store gareko

In [13]:
most_viewed = sorted(stats, key=lambda x:int(x['statistics']['viewCount']), reverse=True)

In [14]:
# for video in most_viewed:
#     print("Video ID:",video['id'],"|","Views:",video['statistics']['viewCount'],"|","Likes:",video['statistics']['likeCount'],"|","Dislikes:",video['statistics']['dislikeCount'])

In [15]:
# Print garya jastaii tyo data lai csv ma lageko 

import csv 
with open('videos.csv','w') as vid_csv:
    writer = csv.writer(vid_csv,delimiter=',',lineterminator='\n')
    writer.writerow(['Video_ID','Views','Likes','Dislikes'])
    for video in most_viewed:
        row = video['id'],video['statistics']['viewCount'],video['statistics']['likeCount'],video['statistics']['dislikeCount'],
        writer.writerow(row)

In [16]:
df = pd.read_csv('videos.csv')

In [17]:
df

         Video_ID     Views   Likes  Dislikes
0     ATf05n5LBHQ  42495071  530950     15483
1     7bfS6seiLhk  26086788  290942     11718
2     cSqi-8kAMmM  22663928  518566     74637
3     o2AsIXSh2xo  22330640  176219      7778
4     R1ZXOOLMJ8s  21997636  374791      5737
...           ...       ...     ...       ...
3914  OhNR-VB5myo       240       4         0
3915  RwFnfC5DK8s       195       5         0
3916  oXC8GPLkyyc       117       0         0
3917  I_yn8U7MDgA       113       2         1
3918  d7QDWEe3xv4       102      28         6

[3919 rows x 4 columns]

In [18]:
df['Title'] = video_title

In [19]:
df

,Video_ID,Views,Likes,Dislikes,Title
0,ATf05n5LBHQ,42495071,530950,15483,The Lying Life of Adults | Announcement | Netflix
1,7bfS6seiLhk,26086788,290942,11718,Snowpiercer | Official Teaser | Netflix
2,cSqi-8kAMmM,22663928,518566,74637,Strong Black Legends: Debbie Allen | Strong Bl...
3,o2AsIXSh2xo,22330640,176219,7778,The Most Awkward Moments From Never Have I Eve...
4,R1ZXOOLMJ8s,21997636,374791,5737,Here's to the momsðŸ’• | Netflix
...,...,...,...,...,...
3914,OhNR-VB5myo,240,4,0,Summit On Ice | Goal of the Century | Netflix
3915,RwFnfC5DK8s,195,5,0,New Netflix Experience on Android | Netflix
3916,oXC8GPLkyyc,117,0,0,New Netflix Experience on iPhone | Netflix
3917,I_yn8U7MDgA,113,2,1,Jiro Dreams of Sushi now on Netflix! | Netflix
3918,d7QDWEe3xv4,102,28,6,"Netflix ""Post Play"" Experience Makes It Easy T..."

In [23]:
df['Title'] = df['Title'].str.split('|').str[0]  #Splits into list when it finds '|'
df['Title'] = df['Title'].str.rstrip() # last ko whitespace hatauxa rstrip le 
df.to_csv('netflix_vids.csv')
df

,Video_ID,Views,Likes,Dislikes,Title
0,ATf05n5LBHQ,42495071,530950,15483,The Lying Life of Adults
1,7bfS6seiLhk,26086788,290942,11718,Snowpiercer
2,cSqi-8kAMmM,22663928,518566,74637,Strong Black Legends: Debbie Allen
3,o2AsIXSh2xo,22330640,176219,7778,The Most Awkward Moments From Never Have I Ever
4,R1ZXOOLMJ8s,21997636,374791,5737,Here's to the momsðŸ’•
...,...,...,...,...,...
3914,OhNR-VB5myo,240,4,0,Summit On Ice
3915,RwFnfC5DK8s,195,5,0,New Netflix Experience on Android
3916,oXC8GPLkyyc,117,0,0,New Netflix Experience on iPhone
3917,I_yn8U7MDgA,113,2,1,Jiro Dreams of Sushi now on Netflix!
3918,d7QDWEe3xv4,102,28,6,"Netflix ""Post Play"" Experience Makes It Easy T..."